# -----------------------
# macOS
# -----------------------
# Finder …
.DS_Store
.AppleDouble
.LSOverride

# icônes et métadonnées
Icon?
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns

# Time Machine
.DocumentRevisions-V100
.fseventsd
.hotfiles.btree

# ---------
# IDE / éditeurs
# ---------
# JetBrains IntelliJ, WebStorm, PhpStorm, PyCharm…
.idea/
*.iml

# Visual Studio Code
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# ------------
# Logs et dépendances
# ------------
# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Composer (PHP)
vendor/

# Python
__pycache__/
*.py[cod]
*.so

# Ruby
*.gem
*.rbc
.bundle/
.log/

# Java
*.class
*.jar
*.war
*.nar
hs_err_pid*

# ------------
# Systèmes de build & IDE divers
# ------------
build/
dist/
out/
target/
